/*Configurações globais, variáveis e o "esqueleto" básico.*/
:root {
    --primary-blue: #0064b6;
    --error-red: #f56363;
    --bg-gray: #f4f4f9;
    --border-color: #ccc;
}

/* Impede o zoom automático no iOS em campos de formulário */
@media screen and (max-width: 768px) {
    input, select, textarea {
        font-size: 16px !important;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-gray);
    margin: 0; 
    padding: 10px;
    color: #333;
    padding-bottom: 90px; /* Ajustado para dar folga ao rodapé fixo */
}

#message { 
    color: var(--error-red); 
    text-align: center; 
    margin: 10px 0;
    font-weight: bold;
    min-height: 1.2em; /* Mantém o espaço reservado mesmo vazia */
    padding: 0 10px;
    white-space: pre-line;
}