:root {
    --primary-blue: #0064b6;
    --error-red: #f56363;
    --bg-gray: #f4f4f9;
    --border-color: #ccc;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-gray);
    margin: 0; padding: 10px;
    color: #333;
}

header {
    display: flex;
    padding: 10px;
}

.header-content {
    display: flex;
    align-items: center; /* Alinha o ícone e o texto verticalmente no centro */
    gap: 10px;           /* Cria um espaço de 10px entre o ícone e o texto */
}

.header-icon {
    width: 31px;         /* Tamanho padrão de ícone para cabeçalhos */
    height: 31px;
    border-radius: 4px;  /* Leve arredondamento para suavizar o visual */
}

header h2 {
    margin: 0;           /* Remove margens padrão que podem desalinhá-lo */
    font-size: 1.3em;
    color: var(--primary-blue);
}

.responsive-table {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.table-header {
    background-color: var(--primary-blue);
    color: #f6f4f4;
    display: flex;
    font-weight: bold;
    padding: 12px;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.table-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.h-col1 { width: 10%; font-size: 0.8em; }
.table-item-desc { width: 60%; padding-right: 5px; font-size: 0.9em; }
.table-item-val { width: 30%; }

input.valor {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    text-align: right;
    box-sizing: border-box;
}

input:disabled { background: #e9ecef; color: #495057; }

select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--primary-blue);
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 15px;
    background: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.btn-danger { background: var(--error-red); }

#message { color: var(--error-red); text-align: center; margin-bottom: 10px; }