/*Toda a estrutura visual das tabelas de dados.*/
.responsive-table {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.table-header {
    background-color: var(--primary-blue);
    color: #f6f4f4;
    display: flex;
    font-weight: bold;
    padding: 12px;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.table-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* Estilo para as linhas de Repasse (38a e 39a) */
.row-repasse {
    background-color: rgba(245, 99, 99, 0.03); /* Fundo avermelhado sutil */
}

/* Estilo para a descrição dentro da linha de repasse */
.row-repasse .table-item-desc {
    font-style: italic;
    font-size: 0.9em;
}

/*Remover a borda de baixo da última linha do bloco para ficar mais limpo */
.bloco-fechamento-receita .table-row:last-child,
.bloco-fechamento-despesa .table-row:last-child {
    border-bottom: none;
}

.h-col1 { width: 10%; font-size: 0.8em; }
.table-item-desc { width: 60%; padding-right: 5px; font-size: 0.9em; }
.table-item-val { width: 30%; }

/* Destaque para os Totais (Respiro visual e auxilio no preenchimento do livro) */
.bloco-fechamento-receita {
    background-color: rgba(0, 100, 182, 0.05); /* Opcional: um fundo bem leve para diferenciar */
}

.bloco-fechamento-despesa {
    background-color: rgba(245, 99, 99, 0.05); /* Opcional: um fundo leve avermelhado */
}